body {
    min-width: 960px;
    font-family: "Open Sans", "Microsoft JhengHei";
    font-size: 90%;
    line-height: 23px;
    background-image: url(http://subtlepatterns.com/patterns/geometry.png);
    background-attachment: fixed;
}

.ceiling,
.light,
.space,
.ground{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.headtitle,
.headleft, .headright,
.left, .right,
.center{
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.headtitle{
    width: 460px;
    font-family: 'Signika', sans-serif;
    font-weight: 100;
}

.navigation{
    width: 320px;
    display: inline;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #bee0ff;
}

.navigation a{
    font-family: 'Signika', sans-serif;
    font-weight: 100;
    color: #4ca8f3;
}

.navigation:hover{
    background-color: #4ca8f3;
}

.navigation a:hover{
    color: white;
}

.light{
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 960px;
    height: 300px;
    margin-bottom: 10px;
}

.headleft, .headright{
    width: 220px;
}

.headtitle{
    line-height: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
}

.headtitle h1{
    font-family: 'Lemon', cursive;
    font-size: 45px;
    line-height: 120px;
}

.space{
    border: 1px dashed grey;
    width: 948px;
    padding: 5px;
}

.left, .right{
    width: 369px;
    text-align: justify;
}

.center{
    width: 140px;
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}

.school{
    background-color: rgba(179,219,254,.3);
    padding: 5px;
    text-align: center;
}

.unit{
    background-color: rgba(179,219,254,.3);
    padding: 5px;
    text-align: center;
}

/* portfolio starts*/

.spacetitle{
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.contactform{
    margin: 2em;
    padding-bottom: 2em;;
}

fieldset {
	border:0;
	padding:10px;
	margin-bottom:10px;
	background-color: rgba(179,219,254,.3);
	}
legend {
	padding:5px 10px;
	background-color:#4ca8f3;
	color:#FFF;
	}

input[type=submit]{
    background: #80d217;
    padding: 10px 25px 10px 25px;
    color: white;
    float: right;
}

input[type=submit]:hover{
    background: #2e4c08;
}

textarea{
    width: 100%;
    opacity: .7;
}

input[type=text], input[type=checkbox], select{
    opacity: .7;